/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
** End of CSS reset
*/


.wrapper{
  text-align: center;
  /*margin:0 10% 0 10%;*/
}

.search{
  background-color: white;
  margin-bottom: 1em;
}

.results{
  margin-bottom: 1em;
}

.wrapper li{
  list-style-type: none;

}

.columns {
  -webkit-columns: 50%;
  -moz-columns: 50%;
  columns: 50%;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}

li {
  background: white;
  /*padding: 1em;*/
  margin-bottom: .3em;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

header{
  margin:.5em 0 1em 0;
  padding:10%;
  background-image: url("../images/header.jpg");
  background-size: cover;
  border: 1px solid;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,.3);
  background-position: center;
}

h2{
  font-size: 20pt;
}

.results li{
  background-color: lightblue;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,.3);
}

li img{
  height:100px;
}

html {
  background: url("../images/backgr.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header h1{
color:  #fff;
white-space: nowrap;
}

footer{
    color: #FFF;
    border-top: 0px none;
    background-color: #454545;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
footer {
    border-top: 1px solid #D6D6D6;
    font-size: 0.9em;
    clear: both;
    padding: 10px 10px 10px 20px;
   
}

.one_third {
    margin-left: 0px !important;
    margin-right: 1.7%;
    width: 32.2%;
}


ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
